table {
  font-size: larger;
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;

  button {
    margin-right: auto;
    margin-left: auto;
    border: none;
    display: block;
    width: 80%;
    font-size: 24px;
    cursor: pointer;
  }
}

tr {
  &:nth-child(even){
    background-color: #f2f2f2;
  }
}